.fade-in {
  transition: all 0.7s ease-out;
}

@keyframes pulse-slow {
  0%, 100% {
    box-shadow: 0 0 60px rgba(59, 130, 246, 0.6);
  }
  50% {
    box-shadow: 0 0 80px rgba(59, 130, 246, 0.9);
  }
}

.animate-pulse-slow img {
  animation: pulse-slow 4s ease-in-out infinite;
}

/* Efek hover animasi underline */
.nav-link {
  position: relative;
  padding-bottom: 4px;
  transition: color 0.3s;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #3b82f6; /* biru Tailwind */
  transition: width 0.3s;
}

.nav-link:hover {
  color: #3b82f6;
}

.nav-link:hover::after {
  width: 100%;
}

.skill-bar {
  width: 0%;
  transition: width 1.5s ease-in-out;
}


/* Navbar shadow saat scroll */
.scrolled {
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 2px 10px rgba(0,0,0,0.5);
}

body {
  font-family: 'Poppins', sans-serif;
}

